<style>
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

div.box1 {
background:#787f8b;
text-align:center;
color:#ff0000;
width:700px;
height:60px;
border: 10px inset rgb(255 0 0);
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box1:hover {
background:#697177;
text-align:center;
color:#ff0000;
width:700px;
height:255px;
border:10px inset rgb(30 144 255);;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box2 {
background:#4e6790;
text-align:center;
color:#ff0000;
width:700px;
height:60px;
border:10px inset rgba(30, 144, 255);
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box2:hover {
background:#556c80;
text-align:center;
color:#ff0000;
width:1000px;
height:700px;
border:10px inset rgb(48 70 92);
transition:all cubic-bezier(1, 0.04, 0, 1.02) 2s;
border-radius:5px;
overflow:auto;
}

div.box3 {
background:#4800ff;
text-align:center;
color:#ff0000;
width:700px;
height:60px;
border:10px inset rgb(0 127 255);
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box3:hover {
background:#0061ff;
text-align:center;
color:#ff0000;
width:700px;
height:400px;
border:10px inset rgb(0 129 255);
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.boxfloat {
background:#5d4d87;
color:#ff0000;
border:10px inset rgba(30, 144, 255);
position:fixed;
text-align:center;
border-radius:5px;
left:0px;
bottom:0px;
width:165px;
height:100px;
overflow:auto;
}


body {
background: url("https://i.postimg.cc/tJz40HxW/HD-wallpaper-blackparis-animal-black-snake-(2).jpg") fixed;
background-repeat: no-repeat;
background-size: cover;
color: rgb(151 235 255);
font-family: 'Orbitron', sans-serif;
}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: rgb(151 235 255);
}

h1, h3 , .sidebar h3 {
font-family: 'Orbitron', sans-serif !important;
text-align: left;
color: #8494a5;
border-bottom: 3px double rgb(255 255 255 / 0%);
border-radius: 100px
}

/* BUTTONS */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: #272829c4;
color: #8494a5;
border: 7px double rgb(129 129 129);
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 100px;
font-family: 'Orbitron', sans-serif !important;
}

/* LINKS */
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
border: 10px outset rgb(33 255 0)  
color: #25ff00;
 color: rgb(255 255 255); /dlya texta vozle lva/
  a:link, a:visited {
  color: rgb(255 255 255)}
  body, a:hover {
  color: rgb(255 255 255);}   
font-family: 'Orbitron', sans-serif !important;
}

/*name Kurgan colour \/ */

.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 5px solid rgb(30 37 46);
color: #4696ea;
font-family: 'Orbitron', sans-serif !important;
     color: rgb(151 235 255); 
  a:link, a:visited {
  color: rgb(255 255 255)}
  body, a:hover {
  color: rgb(151 235 255);}  
}

/* TOPBAR */
.topbar {
background: #272829c7;
border: 7px double rgb(129 129 129);
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
font-family: 'Orbitron', sans-serif !important;
  color: rgb(151 235 255); 
  a:link, a:visited {
  color: rgb(255 255 255)}
  body, a:hover {
  color: rgb(151 235 255);} 
}

.badge {
background: #4b6276;
border: 10px outset rgb(92 103 114);
font-family: 'Orbitron', sans-serif !important;
}

/* NAVBAR */
.main {
background: #272829c7;
border: 7px double rgb(129 129 129);
border-radius: 50px;
box-shadow: none;
font-family: 'Orbitron', sans-serif !important;
}

.navbar {
background: #ffffff00;
border-radius: 50px;
font-family: 'Orbitron', sans-serif !important;
}

.navbar-default .navbar-nav > li > a {
line-height: 50px; /* Регулируй под высоту розовой панели */
height: 50px;
padding-top: 5;
padding-bottom: 50;
display: flex;
align-items: center;
justify-content: center;
    color: rgb(129 129 129);
}

.navbar-default .navbar-nav li a:hover {
color: #272829c7;
background: #272829c7;
border: 5px double #8494a5;
border-radius: 50px;
    color: rgb(151 235 255);
font-family: 'Orbitron', sans-serif !important;
}

/* SIDEBAR */
.sidebar {
background:#ffffff00;
font-family: 'Orbitron', sans-serif !important;
color: rgb(255 255 255); /*dlya texta vozle lva*/
  a:link, a:visited, a:unvisited {
  color: rgb(255 255 255)}
  body, a:hover {
  color: rgb(151 235 255);}
}

.col-md-3 .panel {
background: #272829c7; 
opacity: 0,3;
border: 10px doubled #8494a5;
font-family: 'Orbitron', sans-serif !important;
color: rgb(151 235 255); /*dlya texta vozle lva*/
  a:link, a:visited {
  color: rgb(255 255 255)}
  body, a:hover {
  color: rgb(151 235 255);}
}

.progress-bar {
background: #8494a58a;
font-family: 'Orbitron', sans-serif !important;
}

.progress {
background: #373a3d;
border: px solid #f5000000;
font-family: 'Orbitron', sans-serif !important;
}

/* text on progress bars */
.progress div {
color: rgb(151 235 255);
}

/* CHAT */
.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
background: rgb(155 155 155 / 12%) !important;
color: #a9d3ff !important;
border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
background: rgba(0,0,0,0) !important;
color: #8494a5 !important;
border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
background: rgba(0,0,0,0) !important;
color: #000000 !important;
border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
color: #67d4e0 !important;
}

div#chatMessageContainer {
border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
background: rgb(0 0 0 / 30%) !important;
color: #8494a5  !important;
border: double !important;
}

.userstolen {
background: none;
font-family: 'Orbitron', sans-serif !important;
}

.alert-danger {
color: rgb(151 235 255);
background: #7c97b070;
border: 10px inset rgb(13 0 0 / 53%);
font-family: 'Orbitron', sans-serif !important;
}

.alert-success {
color: rgb(151 235 255);
background: #546f874d;
border: 5px double rgb(144 144 144);
font-family: 'Orbitron', sans-serif !important;
}

.breadcrumb {
background:  #00118029;
font-size: 13px;
border: 10px double rgb(125 138 152);
font-family: 'Orbitron', sans-serif !important;
}

.breadcrumb>.active {
color: rgb(151 235 255);
font-family: 'Orbitron', sans-serif !important;
}

h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
color: #92aabf;
font-family: 'Orbitron', sans-serif !important;
}

.col-md-9 {
background: none;
border: 10px inset rgb(255 255 255 / 0%);
font-family: 'Orbitron', sans-serif !important;
}

.table, .item {
border: 7px double rgb(129 129 129);
border-radius: 17px;
background: #272829c7;
border-collapse: separate;
font-family: 'Orbitron', sans-serif !important;
}

.table .right, .table .right_odd {
background: none;
border: 10px inset rgb(135 1 1 / 0%);
font-family: 'Orbitron', sans-serif !important;
}

/* top and bottom of boxes */
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 10px double #007fff00;
border-radius: 100px;
background: #ffffff00;
color: rgb(255 255 255);
font-family: 'Orbitron', sans-serif !important;
}

/* cave and mound boxes */
.cave-grid, div .left, .mound-grid {
border: 7px double rgb(129 129 129);
border-radius: 17px;
background: #272829c7;
color: #8494a5;
font-family: 'Orbitron', sans-serif !important;

}

/* left part inside box */
.table .left {
border: 5px double rgb(129 129 129);
background: #33425040;
color:#8494a5;
font-family: 'Orbitron', sans-serif !important;
}

/* right part inside box */
.inner-table .right {
background: #4e545940;
border: 5px double rgb(129 129 129);
border-left: none;
    color: rgb(151 235 255); /dlya texta vozle lva/
  a:link, a:visited {
  color: rgb(0 225 255)}
  body, a:hover {
  color: rgb(151 235 255)}

font-family: 'Orbitron', sans-serif !important;
}

/* cursor */
body, a:hover {
cursor: url(https://cur.cursors-4u.net/cursors/cur-7/cur626.cur), progress !important;
}

/* logo */
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
 content: url("https://i.postimg.cc/zGBzscvw/beautiful-coiled-black-snake-illustration-with-watercolor-style-splash-accents-on-a-transparent-back.png");
height:170px;
width:170px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 10px;
}
  
::-webkit-scrollbar-track {
background-color: #272829c7;
}
  
::-webkit-scrollbar-thumb {
background-color:  #b6b6b6;
border-radius: 20px;
border: double 3px;
    color: #606060;
}



#lion_image {
    position: relative;
    display: inline-block;
  clip-path: circle(100px)
  
}

#lion_image::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;

    background: url("https://i.postimg.cc/XNTt6hPq/vector-illustration-eps-symbol-ouroboros-snake-101944220-removebg-preview.png") no-repeat center;
    background-size: 135% 135%;
    pointer-events: none;
}

</style>
